<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Angular Demo</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample03"
            aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarsExample03">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="">Home</a>
        </li>
        <li class="nav-item" *ngIf="showAfterLogin">
          <a class="nav-link" routerLink="employees">List</a>
        </li>
        <li class="nav-item" *ngIf="showAfterLogin">
          <a class="nav-link" routerLink="employees/add">Add</a>
        </li>
        <li class="nav-item" *ngIf="hideAfterLogin">
          <a class="nav-link" routerLink="user/register">Register</a>
        </li>
        <li class="nav-item" *ngIf="showIfAdmin">
          <a class="nav-link" routerLink="admin">Admin</a>
        </li>
        <li class="nav-item" *ngIf="showAfterLogin">
          <a class="nav-link" (click)="logoutHandler()">Logout</a>
        </li>
        <li class="nav-item" *ngIf="hideAfterLogin">
          <a class="nav-link" routerLink="user/login">Login</a>
        </li>
        <li class="nav-item" *ngIf="showAfterLogin">
         <span style="color: aliceblue"></span><!--  Login User: {{userDetail.name}}-->
        </li>
      </ul>
    </div>
  </nav>
  